.Rproj.user
.Rhistory
.RData
.Ruserdata
_site
*.log
/.quarto/
*.html
_book
index.Rmd
light-through-glass.pdf
warmth.Rmd
buckets.pdf
iso-processes.pdf
thermostate.pdf
aeg-kiirus.pdf
baltic-sea-moon.pdf
cities.pdf
earth-s-orbit.pdf
expedition.pdf
freeway-exit.pdf
integration-time.pdf
tones.pdf
vibstr1.pdf
integrating-time.pdf
